@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

html { font-size: 16px }

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.element {
	height: 100vh;
	padding-top: 10px;
}

.bottom-element {
	height: 100vh;
	padding-top: 30px;
	padding-left: 10px;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.outer-left {
	flex: 1;
	padding: 1rem;
}

.center-column {
	flex: 2;
	text-align: center;
	overflow-y: hidden;
}

.outer-right {
	flex: 1;
	padding-right: 6rem;
	overflow-y: hidden;
}

.left-column {
	background-color: white;
	height: 100%;
	position: absolute;
	width: 25%;
	padding: 1% 5% 5% 4%;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: visible;
}

.wrap {
	padding-top: 15%;
	white-space: normal;
	overflow: visible;
	width: 125%;

}

.wrap-mobile {
	padding-top: 15%;
	white-space: normal;
	overflow: visible;
	width: 160%;

}

.wrap p {
	font-size: calc(100% + 0.5vw);
	color: black;
}
.left-slant {
	height: 100%;
	width: 30%;
	padding: 20% 20% 0% 5%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	background: #fff;
	color: #0495ff;
	-webkit-transform: skewx(-10deg);
	transform: skewx(-10deg);
	-webkit-box-shadow: 0 0 1px white;
	-o-box-shadow: none;
	-webkit-transition-duration: 2s;
	transition-duration: 2s;
	-webkit-transition-property: all;
	transition-property: all;
	overflow-x: visible;
}

.header-text {
	font-family: "PT Sans", sans-serif;
	font-size: calc(100% + 2vw);
	background-color: black;
	color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
}

.header-text-red {
	font-family: "PT Sans", sans-serif;
	font-size: calc(100% + 2vw);
	background-color: #cc055f;
	color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
}

h1 {
	-webkit-transform: skewx(0deg) !important;
	transform: skewx(0deg) !important;
	line-height: 1.15;
}

.phone {
	max-width: 20%;
	position: absolute;
	bottom: 7%;
	left: 28%;
}

.hand {
	max-width: 20%;
	position: absolute;
	bottom: 0;
	left: 34%;
	font-size: 0;
	line-height: 0;
}

.sign-up {
	max-width: 40%;
	position: absolute;
	top: 30%;
	left: 54%;
}

.sign-up h1 {
	font-family: "PT Sans", sans-serif;
	font-size: 60px;
	color: #ffffff;
}

.left-column-mobile {
	background-color: white;
	height: 100%;
	position: absolute;
	width: 30%;
	padding: 1% 5% 5% 4%;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: visible;
}
.left-slant-mobile {
	height: 100%;
	width: 45%;
	padding: 20% 20% 0% 5%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	background: #fff;
	color: #0495ff;
	-webkit-transform: skewx(-10deg);
	transform: skewx(-10deg);
	-webkit-box-shadow: 0 0 1px white;
	-o-box-shadow: none;
	-webkit-transition-duration: 2s;
	transition-duration: 2s;
	-webkit-transition-property: all;
	transition-property: all;
	overflow-x: visible;
}
.sign-up-mobile {
	max-width: 50%;
	position: absolute;
	top: 30%;
	left: 40%;
}

.header-text-mobile {
	font-family: "PT Sans", sans-serif;
	font-size: calc(112.5% + 0.5vw);
	background-color: black;
	color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
}

.header-text-mobile-red {
	font-family: "PT Sans", sans-serif;
	font-size: calc(112.5% + 0.5vw);
	background-color: #cc055f;
	color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
}

.list-main {

list-style-position: initial;
font-size: calc(100% + 0.25vw);
}

.list-main-mobile {

list-style-position: initial;
font-size: .8em;

}

li
{
margin: 1em 0;
background: url('assets/food.resized.png') no-repeat  0px 0px transparent;
padding: 0px 0px 1px 24px;
}
